@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-rgb: 254, 247, 236;
  }

  body {
    /*color: rgb(var(--foreground-rgb));*/
    background: rgb(var(--foreground-rgb));
  }
}

@layer components {
  .fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }

  .pinkColor-primary-state {
    @apply bg-pinkColor text-white hover:bg-[#B63364] active:bg-[#D6447A] disabled:cursor-not-allowed disabled:bg-gray2Color disabled:text-[#AAAAAA];
  }

  .pinkColor-second-state {
    @apply cursor-pointer border-2 border-pinkColor bg-white text-blackColor hover:border-blackColor hover:text-blackColor active:border-[#D6447A] active:text-[#D6447A] disabled:cursor-not-allowed disabled:border-gray2Color disabled:text-gray2Color;
  }

  .loader-container {
    @apply relative inline-flex items-center justify-center;
  }

  .loader-circle {
    @apply border-b-transparent border-l-transparent;
  }
}

@layer utilities {
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
